
.content {
	position: relative;
	min-height: 11em;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	
	margin: auto;
	margin-left: 6.5em;
	padding: 0.5em;
	box-sizing: border-box;
	~border: 1px solid black;
	overflow: auto;
	margin-bottom: 3em;

}
.content p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.vertical_menu{
	position: fixed;
	min-height: 11em;
	top: 6em;
	left: 0;
	height: 100%;
	width: 6.5em;
	margin: 0;
	padding: 0.2em;
	box-sizing: border-box;
	~border: 1px solid black;
	overflow: auto;
	background-color: #7f776b;
}




table {
	~border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
}
td {
	~border: 1px solid black;
	text-align: center;
	vertical-align: center;
	padding: 0.2em;
}

input[type] { 
	font-size: 0.8em;
}

button {
	font-size: 0.8em;
}

input[type="submit"] { 
	margin: 0;
}
select {
	font-size: 0.8em;
}