html, body {
	height: 100%;
	margin: 0;
}

html {
	font-size: 14pt;
	~min-width: 25em;
}

body {
	font-size: 1.3em;
	background-color: #e5d6c0;
	~min-width: 25em;
}

.header , .main , .footer, .horizontal_menu  {
	~border: 1px solid black;
	box-sizing: border-box;
}

.header {
	background-color: #e5d6c0;
	position: fixed;
	top: 0;
	min-width: 22.5em;
	width: 100%;
	
	height: 4em;
	text-align: center;
	~border: 1px solid black;
	overflow: auto;
	
	margin: 0;
	z-index: 1;
}

.horizontal_menu {
	position: fixed;
	top: 4em;
	width: 100%;
	min-width: 22.5em;
	height: 2em;
	text-align: center;
	~vertical-align: bottom;
	background-color: #7f776b;
	z-index: 1;
	overflow: auto;
}

.horizontal_menu > a {
	margin-top: calc(1em - 8px);
	~box-sizing: border-box;
	~border: 1px solid black;
	display: inline-block;
	~float: left;
	~margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
}

.main {
	position: absolute;
	top: 6em;
	width: 100%;
	min-width: 22.5em;
	~height: calc(100% - 9em);
	min-height: calc(100% - 6em);
	background-color: #ffeed6;
	overflow: none;
}

.content {
	position: relative;
	min-height: 11em;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: calc(100% - 3em);
	margin: auto;
	padding: 0.5em;
	padding-bottom: 0;
	box-sizing: border-box;
	~border: 1px solid black;
	overflow: auto;
	margin-bottom: 3em;
}

.content p {
	margin-top: 0;
	margin-bottom: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
	background-color: #e5d6c0;
	border-top: 1px solid #8a3434;
	~border: 1px solid black;
	~background-color: grey;
	box-sizing: border-box;
}

p {
	~font-size: 3em;
}

h1 {
	~font-size: 3em;
	margin-bottom: 0px;
	color: #403b35;
}


.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 12em;
	height: 10em;
	~display:inline-block;
	border: 1px solid #8a3434;
	border-radius: 0.7em / 0.7em;
	background-color: #decfba;
}

label {
	font-size: 0.7em;
}

.Absolute-Center label {
	margin-top: 10px;
	margin-bottom: 2px;
	display: block;
	margin-left: 10px;
	~border: 1px solid black;
	font-size: 0.7em;
}

.Absolute-Center input {
	margin: 0;
	margin-left: 10px;
	~margin-right: 10px;
	font-size: 0.7em;
}

.Absolute-Center input[type="text"],
input[type="password"]{
	display: block;
	width: calc(100% - 20px);
	box-sizing: border-box;
}

.Absolute-Center input[type="submit"] {
margin-top: 0.8em;
margin-bottom: 10px;
}

.Absolute-Center input[type="reset"] {
margin-top: 0.8em;
margin-bottom: 10px;
}

h2 {
	font-size: 0.9em;
	~margin-left: 10px;
	margin-bottom: 0px;
	text-align: center;
}

.horizontal_menu > a {
	color: #ffeed6;
}

.horizontal_menu a:visited {
	color: #decfba;
}

.horizontal_menu a:link {
	color: #ffeed6;
}

.horizontal_menu a[href]:hover {
	color: #fcff00;
}

#auth {
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.4);
z-index: 2;
}

#info {
	font-size: 0.7em;
	margin-left: 10px;
}

div > .pre {
white-space: pre-wrap;
~normal | nowrap | pre | pre-line | pre-wrap | inherit
}
