.horizontal_menu {
	min-width: 33em;
}
.header {
	min-width: 33em;
}
.main {
	min-width: 33em;
}

.vertical_menu > a {
	color: #ffeed6;
}

.vertical_menu a:visited {
	color: #decfba;
}

.vertical_menu a:link {
	color: #ffeed6;
}


.vertical_menu a[href]:hover {
	color: #fcff00;
}

